<ion-view view-title="Ecoporanga" class="bkg">
    <ion-content class="padding">
        <div class="list card" style="background:white">
            <div class="item item-avatar">
                <img ng-src={{candidate.Photo}} />
                <h2 style="color:black; font-weight:bold">{{candidate.Name}}</h2>
                <p>Número: <b>{{candidate.ElectoralNumber}}</b></p>
            </div>

            <div class="item item-body">
                <p><b>Endereço:</b> {{candidate.FullAddress}}</p>
                <p><b>Telefone:</b> {{candidate.PhoneNumber}}</p>
                <p><b>Celular:</b> {{candidate.CellPhone}}</p>
                <p><b>Site:</b> <a href="{{candidate.WebSite}}" target="_blank">{{candidate.WebSite}}</a></p>
                <p><b>Email:</b> {{candidate.ContactEmail}}</p>
                <p><b>Histórico:</b> {{candidate.ProfessionalHistory}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
