<ion-view view-title="Ecoporanga" class="bkg">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-body">
                <div class="col align-center">
                    <img src="img/contato.fw.png" style="width:250px" />
                </div>
                <p>Proin a pretium enim. Donec dolor eros, auctor et facilisis et, aliquet vel turpis. Praesent vestibulum felis vulputate porta tincidunt. Praesent cursus tortor velit, at tincidunt dolor congue quis. Nunc a dapibus ligula, non eleifend quam. Quisque tincidunt erat vel arcu dictum euismod.</p>
            </div>
            <div class="opcoes">
                <div class="row">
                    <div class="col">
                        <p><i class="icon ion-email"></i> candidato@gmail.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><i class="icon ion-android-phone-portrait"></i> 9 9898-8888</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a style="text-decoration:none" href="http://www.candidato.com.br" target="_blank" title="Site"><i class="icon ion-earth"></i> http://www.candidato.com.br</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
